body {
  margin: 0;
  padding: 0;
  background: black;
  font-family: 'Share Tech', sans-serif;
  width: 100vw;
  height: 100vh;
}

a {
  color: #56BC58;
}

.alerts {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transform-origin: left;
  transition: all 1s;
}

#speech {
  display: inline-block;
  font-size: 26px;
  text-align: center;
  line-height: 50px;
  /* color: #56BC58; */
  color: white;
  border: 4px solid #56BC58;
  border-radius: 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  padding: 0px 20px;
  text-overflow: ellipsis;
  max-width: 800px;
  margin-left: 0.5rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.visible {
  visibility: visible;
  width: auto;
}

.bold {
  color: #56BC58;
  font-weight: bold;
}

.team-badge {
  margin-top: 0.5rem;
}

.cheer-mote {
  margin: 0.5rem;
  width: 25px;
  height: 25px;
}

.cheer-message {
  display: block;
  max-width: 800px;
}

.cheer-message * {
  margin-top: auto;
  margin-bottom: auto;
}